.container{
	background-color:#99ff77; 
	width:500px; 
	margin: auto;
}
h2{
	background-color:#00cc00; 
	text-align:center;
}
h1{
	text-align: center; 
	background-color:#ccccaa;
}
p{
	text-align:left;
	text-indent: 30px;
}